<p>forms works!</p>
* are mandatory

email
password

-- submit (submitted)
-- while typing (dirty)
-- once you leave the field (touched)


form 
    - name -- required min 5 max 10
    - email 
    - phone
    - age
    - dob
    - submit

form states
    valid - true
    invalid - false
    dirty - if you modify
    pristine
    touched -
    untouched
    submitted

field states 
    valid true
    invalid false
    dirty - if you modify
    pristine
    touched -
    untouched
    hasError('required')
    hasError('minlength')
    hasError('maxlength')
    hasError('min')
    hasError('max')
    hasError('pattern')
