.row{
    display: flex;
    padding: 5px;
    background-color: #e3eaba;
    margin: 5px;
    &.header{
        font-weight: bold;
    }
    .id{
        width: 10%;
    }
    .name{
        width: 20%;
    }
    .gender{
        width: 20%;
    }
    .email{
width: 30%;
    }
    .actions{
        width: 20%;
    }
}