<p>var works!</p>


<pre>
    {{name}}
    {{age}}
    {{gender}}**
    {{interest}}**
    {{fruits}}
    {{fruits[1]}}
    {{user | json}}
    {{user.exp}}
    {{undf}}**




    {{a}}

    {{b}}

    a+b = {{a+b}} 
    a-b = {{a-b}} 
    a*b = {{a*b}} 
    a/b = {{a/b}} 
    a%b = {{a%b}} 


    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}
</pre>
<!-- 
data binding  -- show the varaiable value in html file 
one way data binding
expressions -- using arthemetic operators 
string interpolation -- using a variable inside a string -->