<p>intro works!</p>

<p [appAttr]="login"
[msg] ="'hello'"
[fname] = "'mani'"
[user] = "{tech:'anuglar', exp: 5}"

(sendFname) = "fetchFname($event)"
(sendUser) = "fetchUser($event)"
> this is a custom attr directive</p>


<div class="appClass">this is class dirctive  </div>

<app-custom [data]="cardsData" (courseSelected)="selectedCouse($event)"></app-custom>


<!-- <app-custom></app-custom>
<app-custom></app-custom>
<app-custom></app-custom>
<app-custom></app-custom> -->
<!-- <app-obj-forms></app-obj-forms> -->

<!-- 
90days cahllange componentss 
 - video*
 - slider
 - 90 batches starting this weekedn * 
 - banner
     - imagae
 - course cateories
    - simple card 
 - whats there in 90 challenger
    - videos component *
    - view all 
 - clssrooms near you*
 - live courses *
 - self paced couses* 
 - build your foundations *
 - adds 
    - multiple images 
 - popular now*
    - Heading 
    - vuew akk
    - cards
        - card heading 
            - bg color 
            - icon 
            - heading
            - sub heading 
        - card body
            - intrested 
            - rating
            - full Name
            - type of class 

        - card footer 
            - expore button   -->