<p>var works!</p>
<pre>
        one way databinding 
        sintring interpolation
        expressions
        

    {{fname}}

    {{age}}

    {{gender}}**

    {{interest}}**

    {{fruits}}
    {{fruits[2]}}

    {{obj}}

    {{obj | json}}
    {{obj.name}}
    {{obj.frameworks}}
    {{obj.frameworks[1]}}

    {{undf}}**

    {{a}}

    {{b}}

    a+b :: {{a+b}}
    a-b :: {{a-b}}
    a*b :: {{a*b}}
    a/b :: {{a/b}}
    a%b :: {{a%b}}

    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}
</pre>