
  <nav>
    <div><a [routerLink]="['/home']"> Home </a></div>
    <div><a [routerLink]="['/intro']"> Intro </a></div>
    <div><a [routerLink]="['/var']"> Var </a></div>
    <div><a [routerLink]="['/dir']"> Directives </a></div>
    <div><a [routerLink]="['/forms']"> Forms </a></div>
    <div><a [routerLink]="['/obj-forms']"> Obj Forms </a></div>
    <div><a [routerLink]="['/reactive-forms']"> Reactive Forms </a></div>
    <div><a [routerLink]="['/pipes']"> Pipes </a></div>
    <div><a [routerLink]="['/apis']"> Apis </a></div>
    <div><a [routerLink]="['/life-cycle']"> Life Cycle </a></div>
    <div><a [routerLink]="['/obs']"> Rxjs </a></div>
  </nav>
 